[user]
  email = codenameyau@gmail.com
  name = Jorge Yau

[core]
  editor = vim
  ignorecase = false
  excludesfile = ~/.gitignore_global

[alias]
  c = commit
  g = grep --break --heading --line-number
  s = status
  d = diff
  ls = log --abbrev-commit --no-merges --pretty='%h (%ad) - [%an] %s %d' --date=format:'%b %d %Y'
  ll = log --no-merges --pretty='\n\n%C(bold yellow)[%cn] %C(bold red)(%cr) %C(bold green)%s' --decorate --numstat
  search = log --no-merges -i -E --pretty='%h (%ad) - [%an] %s %d' --date=format:'%b %d %Y' --grep
  contributions = log --no-merges --author="codenameyau" --pretty='%ad - %s' --date=format:'%b %d %Y (%I:%M %p)'
  flow = log --no-merges --author="codenameyau" --stat --pretty='\n\n%C(bold blue)[%h] %C(bold yellow)%ad (%cr) %C(green)- %s' --date=format:'%b %d %Y'

[grep]
  lineNumber = true
  extendRegexp = true

[color]
  ui = true
  interactive = auto
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = green bold
  local = green
  remote = red bold

[color "diff"]
  meta = yellow bold ul
  frag = cyan bold ul
  old = red bold
  new = green bold

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[filter "lfs"]
  smudge = git-lfs smudge %f
  required = true
  clean = git-lfs clean %f

[push]
  default = simple
  
